h1 {color: purple;
}
img {
    width: 250px;
}
body {background-color: lavender;
}
body {text-align: center;
}
.ICA {color: #949494;
}
h2 {color: #18191A;
}
h1 {font-family: 'Fruktur', cursive;
}

h4 {font-family: 'Arvo', serif;
}